/* for small devices  */
@media screen and (max-width:576px) {

    /* header style  */
    header nav ul {
        gap: 20px;
        display: none;
    }

    /* hero section  */
    header .hero-section {
        padding: 10px;
    }

    .hero-section .container h1 {
        font-size: 2rem;
        line-height: 50px;
    }

    .hero-section .container p {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .container form {
        display: grid;
        padding: 10px;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {

    /* header style  */
    header nav ul {
        gap: 20px;
    }

    header nav ul li {
        font-size: 1rem;
    }

    header nav .logo h3 {
        font-size: 1.5rem;
    }

    /* hero section  */
    header .hero-section {
        padding: 10px;
    }
}